<nav class="navbar custom-navbar navbar-light main-footer small">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="javascript:;">
        <span>Copyright &copy; 2018</span> <span class="ff-headers text-uppercase">HummingMail</span>. All rights reserved
      </a>
    </li>
  </ul>

  <ul class="navbar-nav hidden-xs-down">
    <li class="nav-item">
      <a class="nav-link" href="javascript:;">HummingMail- Boost your campaign and improve your email deliverability</a>
    </li>
  </ul>

</nav>