@import "../../../assets/styles/scss/components/sts";
.card {
  min-height: 160px;
}
.card.loader-data {
  background: rgba(101, 98, 98, 0.5);
  z-index: 999;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 12.5%;
  padding-top: 150px;
  padding-right: 25%;
}
.width-product{
  width: 350px;
}

.loader05{
  top: 45%;
}